// app global css in SCSS form
.font-big{
    font-size: 30px;
}
.font-medium{
    font-size: 18px;
}
.font-normal{
    font-size: 13px;
}
.btn-radius{
    border-radius: 10px;
}

.bg-admin{
    background:$admin;
}
.blackown{
    color:$blackown;
}